* {
  margin: 0;
  padding: 0;
 font-family: 'Teko', sans-serif;
}
.section{
  width: 500px;
  height: 600px;
  background-color: rgb(234, 236, 238);
	position: relative;
  margin: auto;
    margin-top: 100px;
}
.caja1 {
  width: 500px;
  height: 600px;
  background-color: rgba(0, 169, 170, 1);
	position: absolute;
    margin: auto;
}

.imagen {
  width: 500px;
  height: 600px;
    background-image: url(../img/imagen.png);
	position: absolute;
    right:-50px;
	top: -50px;
}
.imagen:hover {
    -webkit-transform:scale(1.1);transform:scale(1.1);}
.imagen {
    overflow:hidden;}


.caja3 {
  width: 500px;
  height: 100px;
    background-color:rgba( 0, 0, 0,0.5); 
  position: absolute;
	top: 470px;
    right:-25px;
    
}  



.texto{
    color: #FFFFFF;
    position: absolute;
    top:500px;
    left: 150px;
    font-size: 35px;
}
p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}